# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.env

# Models
*.pth
*.pt
*.ckpt

# Datasets
datasets/
*.zip

# Results
results/

# macOS / Windows
.DS_Store
Thumbs.db
